.container-top {
    display: flex;
    margin-bottom: 20px;
  
    .container-top-left {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: calc(100% - 178px);
        
        &.container-top-left-width{
          width: 100%;        
        }
  
        &.scroll-filters {
            height: 60px;
            overflow-y: auto;
            overflow-x: hidden;
            margin-right: 15px;
            padding-right: 12px;
        }
    }

    .filter-container {
        margin-top: 20px;
        display: flex;
        align-items: flex-start;

        .filter {
            padding-left: 80px;
        }
    }
}
